<h4>Personajes</h4>
<ul class="list-group">
  <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center" *ngFor="
  let character of characters;
  let idx = index;
  let first = first;
  let last = last;
  let odd = odd;
  let even = even;
  " [ngClass]="{
    'list-group-item-primary': first,
    'list-group-item-success': last,
    'list-group-item-danger': odd
  }">
    {{idx + 1}} {{character.name}} - {{character.power}}


    <button class="btn btn-danger" (click)="onDeleteCharacter(idx)">X</button>
  </li>
</ul>
